body {
  background-color: aliceblue;
} 
.content {
  margin: 10px;
}

.nav a{
  margin: 10px;
} 
.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer {
  text-align: center;
}