.card {
  padding: 5px;
  margin: 10px 5px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}